// BOOTSTRAP OVERRIDES
// variable overrides
$success: rgb(30, 215, 96);
$white: rgb(255, 255, 255);
$muted: rgb(155, 155, 155);
$dark: rgb(24, 24, 24);
$semiDark: #181818;
$extraDark: rgb(4, 3, 6);
$transitionEaseIn: all .2s ease-in-out;