@import "src/styles/shared/variables";
@import "src/styles/shared/mixins";

//DASHBOARD

.avatar {
  width: 5em;
  height: 5em;
  border: solid $white 2px;
  border-radius: 100px;
  @include for-phone-only {
    width: 5em;
    height: 5em;
    border: solid $white 2px;
    border-radius: 100px;
  }
  @include for-tablet-portrait-up {
    width: 5em;
    height: 5em;
    border: solid $white 2px;
    border-radius: 100px;
  }
  @include for-tablet-landscape-up {
    width: 5em;
    height: 5em;
    border: solid $white 2px;
    border-radius: 100px;
  }
  @include for-desktop-up {
    width: 5em;
    height: 5em;
    border: solid $white 2px;
    border-radius: 100px;
  }
}

#user-icon {
  width: 3em;
  fill: $white;
  @include for-tablet-portrait-up {
    width: 3em;
  }
  @include for-tablet-landscape-up {
    width: 3em;
  }
  @include for-desktop-up {
    width: 3em;
  }
}

.btn-logout {
  font-size: 0.8rem !important;
  border-radius: 50px !important;
  border: solid 1px $white !important;
  background: $dark !important;
  &:hover {
    color: $dark !important;
    background: $white !important;
    transition: $transitionEaseIn;
  }
}
