
html,
body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0em 0em;
  color: rgb(20, 20, 20);
}

div.app-login {
  background-color: rgb(245, 245, 245);
}

div.app-playlists {
   
    background: linear-gradient(
      to bottom,
      hsl(136.36, 8.66%, 24.9%) 0%,
      hsl(137.24, 8.57%, 24.99%) 8.1%,
      hsl(139.72, 8.3%, 25.23%) 15.5%,
      hsl(143.63, 7.92%, 25.61%) 22.5%,
      hsl(148.83, 7.45%, 26.08%) 29%,
      hsl(155.18, 6.95%, 26.62%) 35.3%,
      hsl(162.56, 6.44%, 27.2%) 41.2%,
      hsl(170.84, 5.94%, 27.81%) 47.1%,
      hsl(179.83, 5.48%, 28.41%) 52.9%,
      hsl(188.05, 5.8%, 29.22%) 58.8%,
      hsl(194.38, 6.08%, 29.97%) 64.7%,
      hsl(199.2, 6.32%, 30.63%) 71%,
      hsl(202.77, 6.5%, 31.18%) 77.5%,
      hsl(205.26, 6.64%, 31.6%) 84.5%,
      hsl(206.76, 6.72%, 31.87%) 91.9%,
      hsl(207.27, 6.75%, 31.96%) 100%
    );
}

.logo img {
  max-width: 150px;
}
.bold {
  font-weight: bold;
}

button.round-corner {
  border-radius: 50px;
  border: none;
}

input.round-corner {
  border-radius: 50px;
  max-width: 60%;
}

div.no-border {
  border: none;
  color: rgb(245, 245, 245);
  background-color: transparent;
  div {
    ul {
      li{
        background-color: transparent;
      }
    }
  }
}

// Custom.scss BOOTSTRAP

@import "../../node_modules/bootstrap/scss/bootstrap";
